.contact_us {
    width: 100%;
    padding: 0px 28px;
    &_container span {
        font-size: 32px;
        font-weight: 500;
    }
    &_message {
        margin-top: 13px;
    }
    &_textarea {
        font-size: 16px;
        width: 100%;
        height: 200px;
        border: #222020 solid 1px;
        border-radius: 16px;
        padding: 16px;
        resize: none;
    }
    &_textarea:focus {
        outline-width: 0;
    }
}

.btn {
    margin-top: 60%;
    //margin-bottom: 40px;
}