# Настройка Django
MY_SECRET_KEY='django-insecure-nt&o)oe$gc$4e%^ber)1g7d7%n!iss_!p629ol@t&4)2+y51iq'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Выбор базы данных мужду POSTGRES и SQLITE
USE_SQLITE=True

STATIC_URL = "/static/"
STATIC_ROOT = BASE_DIR / "staticfiles"