# Настройка Django
MY_SECRET_KEY='django-insecure-nt&o)oe$gc$4e%^ber)1g7d7%n!iss_!p629ol@t&4)2+y51iq'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Выбор базы данных мужду POSTGRES и SQLITE
USE_SQLITE=True

STATIC_URL = "/static/"
STATIC_ROOT = BASE_DIR / "staticfiles"

# Создание SUPERUSER
SUPERUSER_EMAIL=kidedvisor@gmail.com
SUPERUSER_PASSWORD=password_1234

# Настройка EMAIL рассылки
SEND_EMAILS=False # Сохраняет тестовые письма в папку.
EMAIL_HOST_USER=kidedvisor@gmail.com # Адресс отправителя рассылки, полный адрес электронной почты
EMAIL_HOST='smtp.yourprovider.com' например smtp.gmail.com
EMAIL_PORT='Укажите порт'
EMAIL_HOST_USER='Введите ваш почтовый ящик: your-email@example.com'
EMAIL_HOST_PASSWORD='Укажите свой пароль'