.card_progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 327px;
    height: 45px;
    color: white;
    border-radius: 16px;
    text-align: center;
    align-items: center;
    padding: 0 16px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
}

.moderation {
    background-color: #FFA600;
}

.success {
    background-color: #45C307;
}