.section_params {
    &_container {
        display: block;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &_title {
        font-weight: 400;
        font-size: 32px;
    }
    &_block {
        margin-top: 16px;
    }
    &_label {
        margin-top: 16px;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
    }
}