.close_afford {
    padding: 0px 28px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.add_finish_page {
    width: 100%;
    padding: 28px;
    &_container {
        display: block;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 210px;
    }
    &_title {
        font-weight: 500;
        font-size: 20px;
        margin-top: 4px;
    }
    &_desc {
        font-weight: 400;
        font-size: 16px;
        margin-top: 4px;
        text-align: center;
    }
}

.button {
    margin-top: 24px;
}