.add_finish_page {
    &_container {
        display: block;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 210px;
    }
    &_title {
        font-weight: 500;
        font-size: 20px;
        margin-top: 4px;
    }
    &_desc {
        font-weight: 400;
        font-size: 16px;
        margin-top: 4px;
        width: 260px;
    }
}

.button {
    margin-top: 24px;
    width: 120px !important;
}