.input {
    padding: 0px;
    margin: 0px;
    padding: 13px 15px;
    border: 1px solid #222020;
    border-radius: 18px;
    width: 328px;
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    outline: none;
}