.btn_close {
    text-align: right;
    padding: 28px;
    width: 100%;
}

.section_page_message {
    width: 100%;
    padding: 0px 28px;
    //height: auto;
    display: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 134px;
    h1 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
    }
}

.message_btn {
    width: 40% !important;
}