$mainColor: #0085FF;

.auth_button {
    margin-bottom: 40px;
    border: none;
    border-radius: 50px;
    width: 100%;

    font-family: var(--font-inter), sans-serif;

    font-size: 16px;
    cursor: pointer;
    &_default {
        padding: 14px 0;
        background-color: $mainColor;
        color: white;
    }
    &_outlined {
        color: $mainColor;
        border: 2px solid $mainColor;
        padding: 8px 0;
    }
    &:disabled {
        background-color: #C7C7C7;
    }
}