.header {
  padding: 0 16px;
  height: 109px;
  width: 100%;
  //display: flex;
  &__logo {
    margin-top: auto;
    margin-bottom: 10px;
    width: 266px;
  }
}

.affordance_container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 250px;
}
