.popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    transition: all 0.5s;
    opacity: 0;
    display: flex;
    overflow: hidden;

    &_opened {
        opacity: 1;

        & .authWith_menu_ul {
            transform: translateY(0);
        }
    }

    &_closed {
        opacity: 0;

        & .authWith_menu_ul {
            transform: translateY(100%);
        }
    }
}


.default_popup {
    z-index: 2;
    width: calc(100% - 32px);
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 24px;
    padding: 24px;

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        align-items: center;
        color: #1D1B20;
    }

    &__info {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #49454F;
    }
}