.authWithButton_container {
    margin-top: 16px;
    width: 330px;
    height: 60px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 19px 16px;
}

.auth_vector {
    vertical-align: middle;
    margin-left: 65px;
}