.btn_icon_title {
    font-size: 18px;
    font-weight: 500;
    color: #0085FF;
}

.cards_button {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;
    margin: 0 auto;
}